html, body {
	margin: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	user-select: none;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	touch-action: none;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	justify-content: center;
	box-sizing: border-box;
	background: linear-gradient(var(--primary-500), var(--primary-A700));
	position: fixed;
	text-size-adjust: none;
}
